/**/
body{
  background-attachment: fixed;
  background-size: 300%;
  background-repeat: no-repeat;
}
.linha{
  margin-top: 5px;
  margin-bottom: 10px;
}

.bloco{
  margin-top: 10px;
}

@font-face{
    font-family: "blenda";
    src: url("../font/blenda_script.otf") format("truetype");
}

h1{
  width: 98%;
  text-align: center;
  justify-content: center;
  font-family: blenda;
}

h3{
  width: 98%;
  text-align: center;
  justify-content: center;
  font-family: blenda;
}

	#jumbotron{
			position: absolute;
		  left: 50%;
		  top: 50%;
		  transform: translate(-50%, -50%);
			width: 50vh;
			height: 50vh;
			border: 1px solid;
			border-color: #dadce0;
			border-radius: 7px;
			text-align: center;
		}